# GOMUSICV2 env
API_ID=
API_HASH=
BOT_TOKEN=
STRING_SESSION=
OWNER_ID=
LOGGER_ID=

BOT_NAME=Shizu Music
BOT_LINK=https://t.me/ARU_xOPUSERBOT
UPDATES_CHANNEL=https://t.me/sxypndu
SUPPORT_GROUP=https://t.me/crzy_soul
START_PHOTOS=https://files.catbox.moe/jgt2vm.png
PING_IMG_URL=https://files.catbox.moe/ddzvc0.jpg
SESSION_NAME=ShizuMusic
PORT=10000
MAX_DURATION_SECONDS=1800
QUEUE_LIMIT=20
COOLDOWN=10

# ARU-YT-V2 download API
# same VPS: http://127.0.0.1:8080
# Railway: https://YOUR-SERVICE.up.railway.app
ARU_YT_URL=http://12.0.0.1:8080
ARU_YT_KEY=PANDA-KEY
SHRUTI_API_URL=http://12.0.0.1:8080
SHRUTI_API_KEY=PANDA-KEY
