# GOMUSICV2 env
API_ID=10079905
API_HASH=e4a5fa251e2e055f26e5c2add8401530
BOT_TOKEN=8765632030:AAHBLaX2Fwzi_JBPqpTLqBONl_4kgc7Vc3Y
STRING_SESSION=BQC86fAAqZDT9vczNEVoL822TxoTJjo_2WGkTbUI6zNt4LN-FJdHldy7E3V2v3quyQl4fy-7YdrAAwjlb0T6zy5gSV-kS8Bc7rDupDkSRJsyewIdL9NkJSURrts1L0-uaYrs2E3r7iCeZFwxZM1P6CZdNmE6_ASQ3TYDSz23aUfutD95y6FRQJF9RR8O-TTtM0o3pkJivkIUhXr1vuaIayf-SAtZiETHWuccfWs_uYEG4Ltxc3UbX5vYjWT0DZoGyvmlFhEmUHShFQ8j2G3cwAsQklt3srW1hL_JW-fhD7CaRyGdWQs7_C9oh43JQA_834IHAbl3VD5_yMs1lw8btHk6Oh2n1wAAAAIOjsYuAA
OWNER_ID=8841848847
LOGGER_ID=-1004318913888

BOT_NAME=Shizu Music
BOT_LINK=https://t.me/ARU_xOPUSERBOT
UPDATES_CHANNEL=https://t.me/+kycml-zhzSs2Zjdl
SUPPORT_GROUP=https://t.me/+qwlkJNntCU0yMjhl
START_PHOTOS=https://files.catbox.moe/jgt2vm.png
PING_IMG_URL=https://files.catbox.moe/ddzvc0.jpg
SESSION_NAME=ShizuMusic
PORT=10000
MAX_DURATION_SECONDS=1800
QUEUE_LIMIT=20
COOLDOWN=10

# ARU-YT-V2 download API
# same VPS: http://127.0.0.1:8080
# Railway: https://YOUR-SERVICE.up.railway.app
ARU_YT_URL=http://127.0.0.1:8080
ARU_YT_KEY=PANDA-KEY
SHRUTI_API_URL=http://127.0.0.1:8080
SHRUTI_API_KEY=PANDA-KEY
